NEXTAUTH_URL="
NEXTAUTH_SECRET="

NODE_ENV=development
NEXT_PUBLIC_BHARAT_SHAKTI_API_URL=""
NEXT_PUBLIC_BHARAT_SHAKTI_FILE_BASE=""
NEXT_PUBLIC_URL="


GITHUB_CLIENT_ID=""
GITHUB_CLIENT_ID=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# razorpay
NEXT_PUBLIC_RAZORPAY_KEY_ID=""